name: sqlite3_async_example
description: "Demo app for sqlite3_async package."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  cupertino_icons: ^1.0.8
  flutter:
    sdk: flutter
  path: ^1.9.1
  path_provider: ^2.1.5
  sqlite3_async:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
