name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install Flutter
        uses: subosito/flutter-action@v2
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: flutter pub get

      - name: Publish
        run: flutter pub publish --force
